/* black */
@font-face {
    font-family: 'sf-ui-display';
    src: url('../public/fonts/sf-ui-display-black-58646a6b80d5a.otf');
    font-weight: 900;
    font-style: normal;
}

/* Heavy */
@font-face {
    font-family: 'sf-ui-display';
    src: url('../public/fonts/sf-ui-display-heavy-586470160b9e5.otf');
    font-weight: 800;
    font-style: normal;
}

/* Bold */
@font-face {
    font-family: 'sf-ui-display';
    src: url('../public/fonts/sf-ui-display-bold-58646a511e3d9.otf');
    font-weight: 700;
    font-style: normal;
}

/* demi/semibold */
@font-face {
    font-family: 'sf-ui-display';
    src: url('../public/fonts/sf-ui-display-semibold-58646eddcae92.otf');
    font-weight: 600;
    font-style: normal;
}

/* Medium */
@font-face {
    font-family: 'sf-ui-display';
    src: url('../public/fonts/sf-ui-display-medium-58646be638f96.otf');
    font-weight: 500;
    font-style: normal;
}

/* Regular */
/* @font-face {
    font-family: 'sf-ui-display';
    src: url('../public/fonts/');
    font-weight: 400;
    font-style: normal;
} */

/* Light */
@font-face {
    font-family: 'sf-ui-display';
    src: url('../public/fonts/sf-ui-display-light-58646b33e0551.otf');
    font-weight: 300;
    font-style: normal;
}
/* Light */
@font-face {
    font-family: 'sf-ui-display';
    src: url('../public/fonts/sf-ui-display-thin-58646e9b26e8b.otf');
    font-weight: 200;
    font-style: normal;
}
/* UltraLight */
@font-face {
    font-family: 'sf-ui-display';
    src: url('../public/fonts/sf-ui-display-ultralight-58646b19bf205.otf');
    font-weight: 100;
    font-style: normal;
}